<div class="container">
  <div *ngIf="(basket$ | async) === null ">
    <p class="text-danger">No items in the cart</p>
  </div>
  <div *ngIf="basket$ | async as basketStuff">
    <div class="pb-3">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="text-uppercase py-2">Price</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="text-uppercase py-2">Quantity</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="text-uppercase py-2">Total</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="text-uppercase py-2">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of basketStuff.items">
                    <th scope="row">
                      <div class="p-2"><img style="max-height: 50px;" src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0">
                            <a routerLink="/shop/{{item.id}}" class="text-dark">{{ item.productName }}</a>
                          </h5>
                          <span class="font-italic text-muted d-block font-weight-normal">
                            Type: {{item.type}}
                          </span>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle"><strong>{{item.price | currency }}</strong></td>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <i  (click)="onDecrementingItemQuantity(item)" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em"></i>
                        <span class="font-weight-bold" style="font-size: 1.5em">{{ item. quantity }}</span>
                        <i (click)="onIncrementingItemQuantity(item)" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em"></i>
                      </div>
                    </td>
                    <td class="align-middle"><strong>{{ item.price * item.quantity | currency}}</strong></td>
                    <td class="align-middle text-center">
                      <a (click)="onRemovingItemFromBasket(item)" style="cursor: pointer" class="text-danger">
                        <i class="fa fa-trash" style="font-size: 2em;"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row offset-6 col-6">
          <app-order-totals></app-order-totals>
          <a routerLink="/checkout" class="btn btn-outline-primary btn-block py-2">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>
